<nav>
    <div class="nav-wrapper orange darken-4">
        <ul class="left">
            <li>
                <a class="row waves-effect waves-light purple darken-2"
                   on-click="dashboard()"
                   [router-link]="['/Home']">Dashboard</a>
            </li>
            <li>
                <a class="row waves-effect waves-light purple darken-2"
                   on-click="about()"
                   [router-link]="['/About']">About</a>
            </li>
            <li>
                <a class="row waves-effect waves-light purple darken-2"
                   on-click="feedback()"
                   [router-link]="['/Feedback']">Feedback</a>
            </li>
        </ul>
        <span class="brand-logo center">Treat me!</span>
    </div>
</nav>

<router-outlet></router-outlet>