<section>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <button class="waves-effect waves-light purple darken-2 btn-large"
                        on-click="birthdayTreat()">Birthday</button>
            </div>

            <div class="row">
                <button class="waves-effect waves-light blue darken-2 btn-large"
                        on-click="veteranTreat()">Veteran</button>
            </div>

            <div class="row">
                <button class="waves-effect waves-light orange darken-2 btn-large"
                        on-click="halloweenTreat()">Halloween</button>
            </div>

            <div class="row">
                <button class="waves-effect waves-light green darken-2 btn-large"
                        on-click="feedback()">Feedback</button>
            </div>
        </div>
    </div>
</section>
