<nav>
<div class="nav-wrapper">
  <a href="#!" class="brand-logo">Treat-Me Logo Here</a>
  <ul class="right hide-on-med-and-down">
    <li>
      <a (click)="showBirthdayInfo()">Birthday</a>
    </li>
    <li>
      <a (click)="showHalloweenInfo()">Halloween</a>
    </li>
  <li>
      <a (click)="showVeteranInfo()">Veteran</a>
    </li>
    <li>
      <a>
        <i class="material-icons">more_vert</i>
      </a>
    </li>
  </ul>
</div>
</nav>

<ul id="treat-info">
    <li style="opacity: 0">
        <birthday *ngIf="selected === 'birthday'"></birthday>
        <halloween *ngIf="selected === 'halloween'"></halloween>
        <veteran *ngIf="selected === 'veteran'"></veteran>
    </li>
</ul>

{{selected}}

GOOGLE MAPS COMPONENT HERE