<nav>
<div class="nav-wrapper">
  <a href="#!" class="brand-logo">Treat-Me Logo Here</a>
  <ul class="right hide-on-med-and-down">
    <li>
      <a onclick="Materialize.showStaggeredList('#birthday-treat')">Birthday</a>
    </li>
    <li>
      <a>Halloween</a>
    </li>
  <li>
      <a>Veteran</a>
    </li>
    <li>
      <a>
        <i class="material-icons">more_vert</i>
      </a>
    </li>
  </ul>
</div>
</nav>

<ul id="birthday-treat">
    <li style="opacity: 0">
        <birthday></birthday>
    </li>
</ul>

GOOGLE MAPS COMPONENT HERE