<div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="./app/birthday/birthday.jpg">
    </div>

    <div class="card-content">
    <span class="card-title activator">
        {{model.info}}
        <i class="material-icons right">stuff</i>
    </span>
    </div>

    <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">
        Birthday stuff here
        <i class="material-icons right">close</i>
    </span>
        <p>Load birthday content here</p>
    </div>
</div>