<md-sidenav-layout fullscreen>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
  </md-toolbar>

  <md-card>
     <md-card-subtitle>Subtitle first</md-card-subtitle>
     <md-card-title>Card with title</md-card-title>   
     <md-card-content>
          <p>This is supporting text.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
     </md-card-content>
     <md-card-actions align="end">
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
     </md-card-actions>
  </md-card>

  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item>
        <span md-line>Restaurants</span>
      </a>
      <a md-list-item>
        <span md-line>Cafe</span>
      </a>
      <a md-list-item>
        <span md-line>Chocolates</span>
      </a>
      <a md-list-item>
        <span md-line>Soft Drinks</span>
      </a>
    </md-nav-list>

  </md-sidenav>
</md-sidenav-layout>